<!-- <app-snack-bar [errorMessage]="errorMessage" *ngIf="errorMessage">
</app-snack-bar> -->
<div class="product-form">
    <h1 class="h1">Add Appointment</h1>
    <p-card styleClass="p-shadow-2" [style]="{ 'width': '50%', 'margin': 'auto' }">
      <form #appointment="ngForm" (ngSubmit)="onAddAppointment(appointment)">
        <div class="field">
          <label for="name">Vaccine Name</label>
          <p-dropdown [options]="vaccines" [(ngModel)]="selectedVaccine" placeholder="Select a Vaccine" [editable]="true" optionLabel="name"></p-dropdown>
          <!-- <input pInputText type="text" class="full-width" placeholder="Vaccine Name" name="vaccineName" ngModel/> -->
        </div>
        
        <!-- <div class="field">
            <label for="cityId">City</label>
            <select class="form-select" id="cityId" name="productCity" required ngModel>
                <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
            </select>
        </div> -->
          <div class="field" *ngIf="vaccinationCenters">
            <label for="Vaccination Center">VaccinationCenters</label>
            <p-dropdown [options]="vaccinationCenters" [(ngModel)]="selectedVaccinationCenter" placeholder="Select a Vaccination Center" [editable]="true" optionLabel="name"></p-dropdown>
        </div>
        <!-- <div class="field">
          <label for="description">Description</label>
          <textarea rows="5" cols="30" pInputTextarea class="full-width" name="productDesc" ngModel></textarea>
        </div> -->
        <button type="submit" pButton label="Add Appointment" class="btn btn-primary"></button>
      </form>
    </p-card>
  </div>
